@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Kumar+One+Outline');
/* Importing Fonts from "Google Fonts" in order to use them on my page's style.
   First will be used for my logo, second will be used on my navigation bar's style. */

/* My page's basic style. I use a background i edited myself for the website, and put it on the center of the page, fixed.
   At the same time i also set the background-color for just in case the page lags and delays to download/show the background.. as an alternative. */
body
{
	background-image: url("../images/background.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center; 
	background-color: black;
	
}

/* This is the style for the TEXT i placed under the Logo of my page. I also add opacity in order to make it "fainted" infront of my picture.
People tend to put the logo's text into the Logo Image and have them binded. I did the same thing with the use of CSS. */
p.logo
{
	font-family:'Kumar One Outline', cursive;
	font-style: normal;
	font-size:55px;
	color:white;
	text-shadow: 4px 4px 8px #808080;
	position: absolute; 
	top: 155px; 
	left: 0; 
	width: 35%; 
	opacity: 0.1;
}
/* Styling my text generally for my page. */
p
{
	font-family:'Passion One';
	font-style: normal;
	font-size:18px;
	color:white;
	text-align:center;
}
/* Created a class that can be used with <p> and what I want to do is to actually replicate what we could do with <h1>, <h2> etc. */
p.big
{
	font-family:Molle;
	font-style: normal;
	/* text-decoration: underline; */
	font-weight: bold;
	font-size:24px;
	color:white;
	text-align:center;
}
/* Same thing as with p.big, i just align it to the left in order to use it on my CV. */
p.titles
{
	font-family:Molle;
	font-style: normal;
	/* text-decoration: underline; */
	font-weight: bold;
	font-size:24px;
	color:white;
	text-align:left;
}
/* Created a class that can be used with <div> in order to be able to use specific styling on my Unordered list. */
div.CVleft
{
	font-family:Molle;
	font-style: normal;
	font-size:18px;
	color:white;
	text-align:left;
	padding-left: 30px;
}
/* Created a class that can be used with <ul> in order to be able to use specific styling on my Unordered list. */
ul.cv
{
	font-family:Molle;
	font-style: normal;
	font-size:18px;
	color:white;
	text-align:left;
}

/* unvisited link styling */
a:link {
    color: white;
}

/* visited link styling */
a:visited {
    color: white;
}

/* mouse over link styling */
a:hover {
    color: #ffffcc;
}

/* selected link styling */
a:active {
    color: white;
}

/* Created a class that can be used with <img> in order to put some specific characteristics on my Logo image. */
img.logo 
{
	left: 0px;
	border-radius: 50%;
    margin: auto;
	position: relative;
}
/* Created a class that can be used with <img> in order to put some specific characteristics on my Footer images. */
img.footer 
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    height: 30px;
}
/* Fixing the align of my Footer images to center. */
#validations{
    text-align:center;
}
/* Creating my NavBar styling. Styling was taken from W3Schools. Link: http://www.w3schools.com/w3css/w3css_navigation.asp */
.w3-navbar{
	list-style-type:none;margin:0;padding:0;overflow:hidden
	}
.w3-navbar li{
	float:left
	}
.w3-navbar li a,.w3-navitem,.w3-navbar li .w3-btn,.w3-navbar li .w3-input{
	display:block;padding:8px 16px
	}
.w3-navbar li .w3-btn,.w3-navbar li .w3-input{
	border:none;outline:none;width:100%
	}
.w3-navbar li a:hover{
	color:#000;background-color:#ccc
	}
.w3-navbar .w3-dropdown-hover,.w3-navbar .w3-dropdown-click{
	position:static
	}
.w3-navbar .w3-dropdown-hover:hover,.w3-navbar .w3-dropdown-hover:first-child,.w3-navbar .w3-dropdown-click:hover{
	background-color:#ccc;color:#000
	}
.w3-navbar a,.w3-topnav a,.w3-sidenav a,.w3-dropdown-content a,.w3-accordion-content a,.w3-dropnav a{
	text-decoration:none!important
	}
.w3-navbar .w3-opennav.w3-right{
	float:right!important
	}
.w3-topnav{
		padding:8px 8px
		}
.w3-blue,.w3-hover-blue:hover{
	color:#fff!important;background-color:#a6a6a6!important
	}
/* Adding a CSS Flexbox because it is required by the assignment. Code was taken from the example of W3Schools: http://www.w3schools.com/css/tryit.asp?filename=trycss3_flexbox_flexline
My Flexbox consists of flex containers and flex items in order to create a 3 collumn sorting like if i had my data on a table. */

.flex-container {
    display: -webkit-flex;
    display: flex;
    width: 1200px;
    height: auto;
	padding-left: 4%;
}

.flex-item {
    width: 600px;
    height: 200px;
    margin: 0px;
}
/* Styling of the Horizontal Rule that i will use on my page (Generally). */
hr {
    width:100%; 
    margin:0 auto; 
    border:0px none white; 
    border-top:1px solid lightgrey; 

}
/* Styling of the Horizontal Rule that i will use on my page (Specifically on the footer) */
hr.footer {
    width:50%; 
    margin:0 auto; 
    border:0px none white; 
    border-top:1px solid lightgrey; 
}

/* Styling of the Image and Text on my "Bio" page. Placing the text on the left and the image on the right side */
.gill {

    width: auto;
    padding: 20px;
    overflow: hidden;

}
/* Styling of the Image and Text on my "Bio" page. Placing the text on the left and the image on the right side */
.gill img {

    margin-right: 15px;
    float: right;
}