@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Kumar+One+Outline');
/* Importing Fonts from "Google Fonts" in order to use them on my page's style.
   First will be used for my logo, second will be used on my navigation bar's style. */

body
{
	background-image: url("../images/background.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center; 
	background-color: black;
	
}

p.logo
{
	font-family:'Kumar One Outline', cursive;
	font-style: normal;
	font-size:55px;
	color:white;
	text-shadow: 4px 4px 8px #808080;
	text-align:center;
	position: absolute; 
	top: 155px; 
	left: 0; 
	width: 100%; 
	opacity: 0.1;
}

p
{
	font-family:'Passion One';
	font-style: normal;
	font-size:18px;
	color:white;
	text-align:center;
}