@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Kumar+One+Outline');
/* Importing Fonts from "Google Fonts" in order to use them on my page's style.
   First will be used for my logo, second will be used on my navigation bar's style. */

body
{
	background-image: url("../images/background.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center; 
	background-color: black;
	
}

p.logo
{
	font-family:'Kumar One Outline', cursive;
	font-style: normal;
	font-size:55px;
	color:white;
	text-shadow: 4px 4px 8px #808080;
	position: absolute; 
	top: 155px; 
	left: 0; 
	width: 35%; 
	opacity: 0.1;
}

p
{
	font-family:'Passion One';
	font-style: normal;
	font-size:18px;
	color:white;
	text-align:center;
}

/* unvisited link */
a:link {
    color: white;
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: #ffffcc;
}

/* selected link */
a:active {
    color: white;
}

p.big
{
	font-family:Molle;
	font-style: normal;
	font-size:24px;
	color:white;
	text-align:center;
}

p.footer
{
	font-family:Molle;
	font-style: normal;
	font-size:12px;
	color:white;
	text-align:center;
}

img.logo 
{
	left: 0px;
	border-radius: 50%;
        margin: auto;
	position: relative;
}

img.footer 
{
	display: block;
    margin-left: auto;
    margin-right: auto
}


.w3-navbar{
	list-style-type:none;margin:0;padding:0;overflow:hidden
	}
.w3-navbar li{
	float:left
	}
.w3-navbar li a,.w3-navitem,.w3-navbar li .w3-btn,.w3-navbar li .w3-input{
	display:block;padding:8px 16px
	}
.w3-navbar li .w3-btn,.w3-navbar li .w3-input{
	border:none;outline:none;width:100%
	}
.w3-navbar li a:hover{
	color:#000;background-color:#ccc
	}
.w3-navbar .w3-dropdown-hover,.w3-navbar .w3-dropdown-click{
	position:static
	}
.w3-navbar .w3-dropdown-hover:hover,.w3-navbar .w3-dropdown-hover:first-child,.w3-navbar .w3-dropdown-click:hover{
	background-color:#ccc;color:#000
	}
.w3-navbar a,.w3-topnav a,.w3-sidenav a,.w3-dropdown-content a,.w3-accordion-content a,.w3-dropnav a{
	text-decoration:none!important
	}
.w3-navbar .w3-opennav.w3-right{
	float:right!important
	}
.w3-topnav{
		padding:8px 8px
		}
.w3-blue,.w3-hover-blue:hover{
	color:#fff!important;background-color:#a6a6a6!important
	}

hr {
    width:100%; 
    margin:0 auto; 
    border:0px none white; 
    border-top:1px solid lightgrey; 

}


hr.footer {
    width:50%; 
    margin:0 auto; 
    border:0px none white; 
    border-top:1px solid lightgrey; 
}